<article class="about-content">
    <div class="container content">
        <!--
            <button (click)="alterarIdioma('pt')">Português</button>
            <button (click)="alterarIdioma('en')">Inglês</button>
            <div> {{ "Ola mundo" | translate }} </div>
        -->

        <h4> About me</h4>
        <p> 
            I seek to join an organization that offers stability, where my passion for technology can bring significant improvements, adding value to the team and contributing to progress.
        </p>

        <p>
            I am proficient in problem solving and programming logic, which allows me to develop efficient and creative solutions. Additionally, my communication and teamwork skills allow me to collaborate effectively with other professionals to achieve common goals. I have the ability to learn quickly and adapt to new technologies.
        </p>

        <p class="btn-experience">
            <a class="btn" data-bs-toggle="collapse" href="#experience" role="button" aria-expanded="false" aria-controls="experience">
                Last professional experience... <i class="bi bi-caret-right-fill"></i>
            </a>
        </p>
        <div class="collapse" id="experience">
            <div class="card card-body">
                <h4> Support and user experience analyst (3 years). </h4>
                <p>
                    Carrying out usability tests:<br>
                    Collaboration with the developer in evaluating the interface and functionalities of the <br>
                    Identification of points of improvement for the user experience.<br>
                    Preparation of reports with suggestions and insights for system optimization.
                </p>
                <p>
                    Training and support management:<br>
                    Creation and delivery of training for the system user team, training them in the effective use of tools.<br>
                    Providing technical support and resolving doubts for the internal team and external customers, ensuring user satisfaction and productivity.
                </p>
                <p>
                    Layout creation: <br>
                    Development of intuitive layouts for applications, optimizing the experience of user.
                </p>
            </div>
        </div>

    </div>
</article>

<article class="skill-content">
    <div class="container content">
        <h4> Skills </h4>
        <ul class="skill">
            <li class="skill-item"> <i class="bi bi-code"></i> HTML </li>
            <li class="skill-item"> <i class="bi bi-code"></i> CSS </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Java </li>
            <li class="skill-item"> <i class="bi bi-code"></i> JavaScript </li>
            <li class="skill-item"> <i class="bi bi-code"></i> TypeScript  </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Angular </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Node.js </li>
            <li class="skill-item"> <i class="bi bi-code"></i> React </li>
            <li class="skill-item"> <i class="bi bi-code"></i> PHP </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Bootstrap </li>
            <li class="skill-item"> <i class="bi bi-code"></i> C </li>
            <li class="skill-item"> <i class="bi bi-code"></i> MySQL </li>
            <li class="skill-item"> <i class="bi bi-code"></i> SQL Server </li>
            <li class="skill-item"> <i class="bi bi-code"></i> PostgreSQL </li>
            <li class="skill-item"> <i class="bi bi-code"></i> MongoDB </li>
            <li class="skill-item"> <i class="bi bi-code"></i> GIT </li>
        </ul>
    </div>
</article>

<article class="academic-content">
    <div class="container content">
        <h4> Academic Education </h4>
        <p> 
            Analysis and systems development <br>
            <span> UNIP - Universidade Paulista (2023). </span>
        </p>

        <hr>

        <h6> Other courses </h6>
        <ul>
            <li>Full Stack Java Academy (in-person) - Fuctura Tecnologia.</li>
            <li> Javascript (basic/advanced) - Curso em Video </li>
            <li> MySQL (basic/advanced) - Curso em Video </li>
            <li> Full Stack Turbo - TipsCode </li>
            <li> Bootcamps - Dio. </li>
        </ul>
        
    </div>
</article>