<article class="about-content">
    <div class="container content">

        <button (click)="alterarIdioma('pt')">Português</button>
        <button (click)="alterarIdioma('en')">Inglês</button>

        <h4> About me</h4>
        <p> Busco integrar uma organização que ofereça estabilidade, onde minha paixão pela
            tecnologia possa impulsionar melhorias significativas, agregando valor à equipe e
            contribuindo para o progresso.
        </p>

        <p>
            Personal skills:<br>
            • Proficiência em resolução de problemas e lógica de programação.<br>
            • Habilidades de comunicação e trabalho em equipe.<br>
            • Capacidade de aprender rapidamente e se adaptar a novas tecnologias.<br>
            • Inglês técnico.
        </p>

        <p class="btn-experience">
            <a class="btn" data-bs-toggle="collapse" href="#experience" role="button" aria-expanded="false" aria-controls="experience">
                <i class="bi bi-caret-down-fill"></i> Last professional experience... <i class="bi bi-caret-down-fill"></i>
            </a>
          </p>
          <div class="collapse" id="experience">
            <div class="card card-body">
                <h4> Analista de Suporte e Experiência do Usuário (3 anos). </h4>
                <p>
                    Realização de testes de usabilidade:<br>
                    Colaboração com o desenvolvedor na avaliação da interface e funcionalidades do
                    sistema.<br>
                    Identificação de pontos de melhoria para a experiência do usuário.<br>
                    Elaboração de relatórios com sugestões e insights para otimização do sistema.
                </p>
                <p>
                    Gestão de treinamento e suporte:<br>
                    Criação e ministração de treinamentos para a equipe de usuários do sistema,
                    capacitando-os na utilização eficaz das ferramentas.<br>
                    Prestação de suporte técnico e resolução de dúvidas para a equipe interna e clientes
                    externos, garantindo a satisfação e produtividade dos usuários.
                </p>
                <p>
                    Criação de layouts:<br>
                    Desenvolvimento de layouts intuitivos para as aplicações, otimizando a experiência
                    do usuário.
                </p>
                
            </div>
          </div>





    </div>
</article>

<article class="skill-content">
    <div class="container content">
        <h4> Skills </h4>
        <ul class="skill">
            <li class="skill-item"> <i class="bi bi-code"></i> HTML </li>
            <li class="skill-item"> <i class="bi bi-code"></i> CSS </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Java </li>
            <li class="skill-item"> <i class="bi bi-code"></i> JavaScript </li>
            <li class="skill-item"> <i class="bi bi-code"></i> TypeScript  </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Angular </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Node.js </li>
            <li class="skill-item"> <i class="bi bi-code"></i> React </li>
            <li class="skill-item"> <i class="bi bi-code"></i> PHP </li>
            <li class="skill-item"> <i class="bi bi-code"></i> Bootstrap </li>
            <li class="skill-item"> <i class="bi bi-code"></i> C </li>
            <li class="skill-item"> <i class="bi bi-code"></i> MySQL </li>
            <li class="skill-item"> <i class="bi bi-code"></i> SQL Server </li>
            <li class="skill-item"> <i class="bi bi-code"></i> PostgreSQL </li>
            <li class="skill-item"> <i class="bi bi-code"></i> MongoDB </li>
            <li class="skill-item"> <i class="bi bi-code"></i> GIT </li>
        </ul>
    </div>
</article>

<article class="academic-content">
    <div class="container content">
        <h4> Academic Education </h4>
        <p> <span> Análise e Desenvolvimento de Sistemas </span> <br>
            UNIP - Universidade Paulista (2023). 
        </p>

        <hr>

        <h6> Other courses </h6>
        <ul>
            <li> Academia Java Full Stack (presencial) - Fuctura Tecnologia. (cursando) </li>
            <li> Javascript (básico/avançado) - Curso em Video </li>
            <li> MySQL (básico/avançado) - Curso em Video </li>
            <li> Full Stack Turbo - TipsCode </li>
            <li> Bootcamps - Dio. </li>
        </ul>
        
        
    </div>
</article>