<article class="card-container">
    <div class="imagem">
        <img src="{{image}}" alt="">
    </div>
    <h4> {{ title }} </h4>
    <span class="date"> {{ date }} </span>
    <p> {{ description }} </p>
    <ul class="tags">
        <li class="tag"> JS </li>
        <li class="tag"> HTML </li>
        <li class="tag"> CSS </li>

        <li class="tag"> JS </li>
        <li class="tag"> HTML </li>
        <li class="tag"> CSS </li>
        
        <li class="tag"> CSS </li>
    </ul>
    <div class="actions">
        <a href="#"> <i class="bi bi-github"> </i></a>
        <a href="#"> <i class="bi bi-arrow-up-right-circle"></i> </a>
    </div>
</article>
