<div class="container">
    <section class="cads-content" >
        <app-project *ngFor="let project of projects; let key = index"
            image="{{ project.image }}"
            title="{{ project.title }}"
            date="{{ project.date }}"
            description="{{ project.description }}"
            subDescription="{{ project.subDescription }}"
            tags="{{ project.tags }}"
            linkProject="{{ project.linkProject }}"
            linkGit="{{ project.linkGit }}"
            idModal="{{ key }}"
          ></app-project>
      </section>  
      
     <!-- Modal -->
     <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="showModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <div class="button-close" > 
              <i class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <app-modal
              image="{{ projects[serviceModal.idModal].image }}"
              title="{{ projects[serviceModal.idModal].title }}"
              date="{{ projects[serviceModal.idModal].date }}"
              description="{{ projects[serviceModal.idModal].description }}"
              subDescription="{{ projects[serviceModal.idModal].subDescription }}"
              tags="{{ projects[serviceModal.idModal].tags }}"
              linkProject="{{ projects[serviceModal.idModal].linkProject }}"
              linkGit="{{ projects[serviceModal.idModal].linkGit }}"
            ></app-modal>
          </div>
          
        </div>
      </div>
    </div>

  </div>