<div class="container">
    <section class="cads-content" >
        <app-project *ngFor="let project of projects"
            image="{{ project.image }}"
            title="{{ project.title }}"
            date="{{ project.date }}"
            description="{{ project.description }}"
            subDescription="{{ project.subDescription }}"
            tags="{{ project.tags }}"
            linkProject="{{ project.linkProject }}"
            linkGit="{{ project.linkGit }}"
        ></app-project>
    </section>
</div>